Client/
includes/RGAPI/

[Bb]in/
build/
[Dd]ebug/
Debug_In_Release/
[Oo]bj/
x86/

*.bak
*.cache
*.exp
*.ipch
*.lastbuildstate
*.lib
*.log
*.manifest
*.obj
*.opensdf
*.pch
*.pdb
*.res
*.sdf
*.suo
*.tlog
*.unsuccessfulbuild
*.user
